body.page1,
body.page2 {
    background-image: url('https://i.pinimg.com/736x/88/ae/73/88ae7337fe1891ade67bbdcfe8e32e1a.jpg');
background-size: cover;

}
.caixa-de-fundo {
    position: relative;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 4px dotted rgb(253, 149, 197)
    
}
 .caixa-de-fundo h2 {
    text-align: center;
    font-size: 36px;
    color: rgb(241, 53, 125);
 }

 .caixa-de-fundo p {
    text-align: justify;
    font-size: 50px;
    padding: 30px;
    padding-top: 0px;
    color: rgb(241, 53, 125);
 }
 .laco1,
 .laco2{
    position:absolute;
    width: 120px;
    z-index:2 ;
 }

.laco1 {
    top: -20px;
    left: -22px;
    transform: rotate(-18deg);
}
.laco1 img,
.laco2 img {
    width: 100%;
    height: auto;
}

.laco2 {
    top: -20px;
    right: -20px;
    transform: rotate(30deg);

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fundo {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 2px;
    padding-top: 3px;
    margin: 50px;
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(241, 53, 125);
}

.fundo h1 {
    font-size: 60px;
    color: rgb(241, 53, 125);
    text-align: center;
    font-family:'Lucida Grande';
}

.page1 button {
    background-color: rgb(241, 53, 125);
    color: white;
    padding: 15px 30px;
    font-size: 24px;
    border-style: hidden;
    box-shadow: 5px 6px 7px  rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 100px;

}

.page1 button:hover {
       transform: translateY(-5px) scale(1.1);
    }

.page1 button:active {
    transform: translateY(2px) scale(0.9);
}

.page3 {
    background-image: url('https://i.pinimg.com/1200x/8d/a5/82/8da582483d3c988c846d49429ca3e2e5.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa {
    position: relative;
     top: 10%;
    left: 15%;
    width: 70%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 4px dotted rgb(245, 43, 43);
    text-align: center;

}
.caixa h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(245, 43, 43);
}

    .caixa p {
        text-align: justify;
        font-size: 40px;
        padding: 30px;
        color: rgb(245, 43, 43);
    }

.cortina {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    display: flex;
    z-index: 1000;
    transition: 1s ease-in-out;
}
body.page3 {
    overflow: hidden;
}

#conteudo {
    display: none;
    text-align: center;
    padding-top: 100px;
}

/*botao*/
#abrircortina {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 30px;
    font-size: 24px;
    z-index: 1001;
    cursor: pointer
}

#cortina {
    position: fixed;
    inset: 0;
    display: flex;
    z-index: 1000;
}

#cortina img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
    transition: transform 2s ease;
}

/* Animação*/
.aberta .esquerda {
    transform: translateX(-100%);
}
.aberta .direita {
    transform: translateX(100%);
}